[Unit]
Description=Gunicorn for managing docker-rest-web application
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/vagrant/web
Environment="PATH=/vagrant/python_venvs/controller/bin"
ExecStart=/vagrant/python_venvs/controller/bin/gunicorn --access-logfile /var/log/gunicorn/access.log --error-logfile /var/log/gunicorn/error.log --workers 1 --bind 0.0.0.0:8000 flask_rest:app

[Install]
WantedBy=multi-user.target